body{
 background: url("images\ \(8\).jpg");
 background-position: center;
 background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
 
}
.btn{
    text-align: center;
    margin-top: 33px;
}
.btn button{
    border-radius: 26px;
    border: solid;
    border-bottom-style: solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 224px;
    height: 43px;
    background-color: black;
    color: chartreuse;
}
.btn button:hover{
    background-color: rgb(213, 236, 236);
}
.heading{
    text-align: center;
    color: rgb(45, 45, 92);
    -webkit-text-stroke-width: thick;
}
.para{
    text-align: center;
    color: rgb(14, 26, 3);
    border: 2px solid black;
    background-color:rgb(223, 247, 247);
    border-radius: 10px;
    margin-top: 22px;
    width: 427px;
    height: 70px;
    margin-left: 742px;
}
.para p{
    color:rgb(68, 40, 40);
    font-size: x-large;
}
.set{
    margin-top: 12px;
}
.container{
      margin-top: 76px;  
}
.container1{
      float: left;
      margin-top: -90px;
}
.container1 h1{
    color: rgb(6, 4, 61);
    text-align: center;
}
.set2{
    border: 2px solid black;
    background-color: rgb(228, 247, 247);
    border-radius: 10px;
    margin-top: -21px;
    width: 427px;
    height: 53px;
    margin-left: 12px;
    border-bottom-right-radius: 164px;
}
.set2 p{
    color: rgb(1, 1, 26);
     font-size: x-large;
     text-align: center;
}
.set2 h5{
    text-align: center;

}
.container1 h3{
        font-size: larger;
}
